.App {
  height: 100vh;
  background-color: rgb(227, 225, 230);
}

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(206, 211, 216);
  border: 1px solid grey;
  width: 100%;
}

.form {
  width: 100%;
}

input {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.alltasks {
  display: flex;
  border-radius: 20px;
  list-style: none;
  background-color: white;
  color: white;
  font-size: 20px;
  width: 100%;
  margin-top: 20px;
  font-weight: 700;
  color: rgb(217, 73, 15);
}

.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 5px 30px 5px 30px;
  text-align: center;
}

.task {
  flex-direction: row;
}

.edit {
  color: rgb(117, 125, 195);
  font-size: 20px;
}

.delete {
  color: red;
  font-size: 20px;
}

.edit :hover {
  font-size: 25px;
  transition: 0.15s;
}

.delete :hover {
  font-size: 25px;
  transition: 0.2s;
}


